<section id="hero">
  <div class="hero-image">
    <div class="container">
      <h1 class="hero-title text-uppercase text-white">
        Récuperez le flow de <br />
        Batman avec notre E-shop!
      </h1>
    </div>
  </div>
</section>
<section class="container pt-5">
  <div class="float-end">
    <i routerLink="/cart" class="fa-solid fa-2x fa-cart-plus"></i>
  </div>
</section>

<section class="pt-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-aside></app-aside>
      </div>
      <div class="col-md-9">
        <app-products></app-products>
      </div>
    </div>
  </div>
</section>
