.hero-image {
  background-image: url(../../../assets/bg/bg_1.png);
  height: 800px;
  background-position: center;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  padding-top: 4em;
  font-size: 3em;
  font-weight: bolder;
  text-shadow: white 0px 10px 30px;
}
