<!--footer-->
<footer class="mt-5 py-5">
  <div class="container text-center">
    <div>
      <img
        class="img-fluid mx-1"
        src="../../../assets/logos/logo_0.png"
        alt=""
      />
      <span class="text-footer">
        Ce projet respecte l’univers cinématographique des films Batman récents.
        Version Nolan & Snyder & Reeves</span
      >
    </div>
    <div class="social-footer mt-3">
      <a href="" class="social-item hoveryellow">
        <img width="4%" src="../../../assets/logos/logo_1.png" alt="" />
        <img src="../../../assets/logos/logo_2.png" alt="" />
        <img width="4%" src="../../../assets/logos/logo_3.png" alt="" />
      </a>
      <a href="" class="social-item"
        ><img
          class="hoveryellow"
          src="../../../assets/logos/logo_4.1.png"
          alt=""
      /></a>
      <a href="" class="social-item"
        ><img class="hoveryellow" src="../../../assets/logos/logo_5.png" alt=""
      /></a>
      <a href="" class="social-item"
        ><img class="hoveryellow" src="../../../assets/logos/logo_6.png" alt=""
      /></a>
    </div>
  </div>
</footer>
