.nav-link {
  color: white;
  font-size: 22px;
}
nav {
  background-color: black !important;
}

.active {
  font-weight: bolder;
  text-decoration: underline;
  color: white !important;
}

.navbar-toggler {
  background-color: white;
}
